<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aussie</title>
    <link rel="stylesheet" href="/Css/homepage-navigationbar.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en' , includedLanguages : 'en,ar'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
   body > .skiptranslate {
    display: none;
}

    </style>

</head>

<body>


    <div class="container">
        <div class="navbar">
        <!-- <div class="imgg">
            <img src="signlogo.png" alt="">
        </div> -->
       
        
           
            <h1>Aussie</h1>
            <div id="google_translate_element" class="googlee" ><li> Language</li></div>

            <ul>

                <li>
                    <input class="search" type="text" placeholder="Search Food">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </li>
                


                <li class="part2"><a href="/">Home</a></li>
                <li class="part2"><a href="/products/All">Menu</a></li>
                <li class="part2" id="cart" onclick="dis()">

                    <span id="notification">
                        <%= num %>
                    </span>
                    <!-- <span style="position: relative; top: -20px;">0</span> -->
                    <i class="fa-solid fa-cart-shopping">
                    </i>


                    <!-- onclick="check_out(event.target)" -->
                    <!-- <div class="kk" >
                        <div style="width: 98%;height: 78.5%;  overflow: auto; border: 1px solid rgb(23, 28, 100);" class="cc">
                            
                        <%if(s.length>0){%>
                        <% s.forEach( function(itemss) { %> 
                           
                            <div class ="art"><img src="<%-itemss.item.path%>"alt="" class="item_img" >
                                
                            <span class="s1"> <b>item name :</b> <%- itemss.item.name %></span>
                            <br>
                            <span class="s2"><b>Price : <%-itemss.item.price%> $ Qty : </b> <b class="qty1"><%-itemss.qty%></b> </span>
                            
                        </div>  
                        <% }); %>  
                    </div>
                    
<%}%>
<div style="border: 1px soild black ;" id="div-btn"> 
    <a href="/products/cart/end/checkout" ><button id ="check_now" >CheckOut Now </button></a></div>

                     </div> -->

                    <!-- <div style="height: 90%; width: 80%; border: 1px solid black;"></div> -->
                </li>

                <%if(current_user!==null){%>
                    <li class="part2"><a class="sign" href="/customers/profile/login">
                            <%=current_user.Firstname%>
                        </a></li>
                    <%}else{%>
                        <li class="part2"><a class="sign" href="/customers/signin">Profile</a></li>
                        <%}%>
                            <li class="part2"><a class="sign" href="/customers/signup">Register</a></li>
            </ul>
        </div>
    </div>











    <div class="popup" id="popup-3">

        <div class="overlay"> </div>
        <div class="content">
         
            <div class="navbar2">
                <div class="close-btn" onclick="togglePopup3()">
                        &times;
                    </div>
                <h1>Aussie</h1>
        
                <ul>
        
                    <li>
                        <input class="search" type="text" placeholder="Search Food">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </li>
        
                    <li class="part2"><a href="/">Home</a></li>
                    <li class="part2"><a href="/products/All">Menu</a></li>
                    <li class="part2" id="cart" onclick="dis()">
        
                        <span id="notification">
                            <%= num %>
                        </span>
                        <!-- <span style="position: relative; top: -20px;">0</span> -->
                        <i class="fa-solid fa-cart-shopping">
                        </i>
        
        
                        <!-- onclick="check_out(event.target)" -->
                        <!-- <div class="kk" >
                            <div style="width: 98%;height: 78.5%;  overflow: auto; border: 1px solid rgb(23, 28, 100);" class="cc">
                                
                            <%if(s.length>0){%>
                            <% s.forEach( function(itemss) { %> 
                               
                                <div class ="art"><img src="<%-itemss.item.path%>"alt="" class="item_img" >
                                    
                                <span class="s1"> <b>item name :</b> <%- itemss.item.name %></span>
                                <br>
                                <span class="s2"><b>Price : <%-itemss.item.price%> $ Qty : </b> <b class="qty1"><%-itemss.qty%></b> </span>
                                
                            </div>  
                            <% }); %>  
                        </div>
                        
        <%}%>
        <div style="border: 1px soild black ;" id="div-btn"> 
        <a href="/products/cart/end/checkout" ><button id ="check_now" >CheckOut Now </button></a></div>
        
                         </div> -->
        
                        <!-- <div style="height: 90%; width: 80%; border: 1px solid black;"></div> -->
                    </li>
        
                    <%if(current_user!==null){%>
                        <li class="part2"><a class="sign" href="/customers/profile/login">
                                <%=current_user.Firstname%>
                            </a></li>
                        <%}else{%>
                            <li class="part2"><a class="sign" href="/customers/signin">Profile</a></li>
                            <%}%>
                                <li class="part2"><a class="sign" href="/customers/signup">Register</a></li>
                </ul>
            </div>
        </div>
        </div>

    </div>

    </div>





<script>
//for add meal button
function togglePopup3() {
    // const togel=document.querySelector(".popup")
    document.getElementById("popup-3").classList.toggle("active");
}
</script>
























    <i class="fa-solid fa-bars" id="fx" onclick="showmenu()"></i>

    



    </div>


    <script> if (document.title === "Aussie") {
            document.getElementsByClassName("search")[0].style.display = "none";

            document.getElementsByClassName(" fa-solid fa-magnifying-glass")[0].style.display = "none";
        } </script>
</body>
