<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/ad1.css">
    <link rel="stylesheet" href="/Css/ad2.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/admin_sidebar") %>
    <div class="right">
    <div id ="msg-area"  >
        <div id ="customers-msgs">
<ul id ="chat-list">
    <%connected.forEach((item)=>{%>
        <%if(selected._id===item._id){%>
            <li onclick="location.href='/employees/profile/chat/details/<%=selected._id%>'" style="background-color: rgb(90, 84, 84);">
                <img src="/images/user-chat.png" alt="" id="user-chat">
                <span id="Name"><strong><%=item.Firstname%> <%=item.Middlename%></strong></span>
                
                <p id ="phone"><strong><%=item.Phone%></strong></p>
                </li>
            <%}else{%>
<li onclick="location.href='/employees/profile/chat/details/<%=item.id%>'">
<img src="/images/user-chat.png" alt="" id="user-chat">
<span id="Name"><strong><%=item.Firstname%> <%=item.Middlename%></strong></span>

<p id ="phone"><strong><%=item.Phone%></strong></p>
</li>

<%}
})%>





</ul>

        </div>
        <div id="chat-form">
            <div id="top-chat">
                <button id="end-btn">End Chat</button>
            </div>
            <div id="message-body">
<%for(let i=0;i<selected.chat.length;i++){if(selected.chat[i].issent){%>
    
                <div id="msg1">
<p id ="msg-body"><%=selected.chat[i].msg%></p>
                </div>
              <%}else{%>
                <div id="msg2">
<p id ="msg-body"><%=selected.chat[i].msg%></p>
                </div>
                <%}}%>

                <div id ="msg-box">
                    <textarea name="" id="msg-text" cols="33" rows="4" placeholder="Enter Message Here " wrap="physical"></textarea>
                    <button id="send">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>