<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/ad1.css">
    <link rel="stylesheet" href="/Css/ad2.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/admin_sidebar") %>
    <div class="right">
      
    <div id ="msg-area"  >
      
        <div id ="customers-msgs">
<ul id ="chat-list">
    <%connected.forEach((item)=>{%>
        <% if(selected._id===item._id){%>
            <li  onclick="location.href='/employees/profile/chat/details/<%=selected._id%>'" style="background-color: rgb(90, 84, 84);">
                <img src="/images/user-chat.png" alt="" id="user-chat">
                <span id="Name" ><strong class="ss"><%=item.Firstname%> <%=item.Middlename%></strong></span>
                
                <p id ="phone" ><strong class="ss"><%=item.Phone%></strong></p>
                </li>
            <%}else{%>
<li onclick="location.href='/employees/profile/chat/details/<%=item._id%>'">
<img src="/images/user-chat.png" alt="" id="user-chat">
<span id="Name"><strong><%=item.Firstname%> <%=item.Middlename%></strong></span>

<p id ="phone"><strong><%=item.Phone%></strong></p>
</li>

<%}
})%>





</ul>

        </div>
        <div id="chat-form">
            <div id="top-chat">
                <button id="end-btn">End Chat</button>
            </div>
            
            <div id="message-body">
<%for(let i=0;i<selected.chat.length;i++){if(selected.chat[i].issent){%>
    
                <div id="msg1">
<p id ="msg-body"><%=selected.chat[i].msg%></p>
                </div>
              <%}else{%>
                <div id="msg2">
<p id ="msg-body"><%=selected.chat[i].msg%></p>
                </div>
                <%}}%>

               
            </div>
            <div id ="msg-box">
                <textarea name="" id="msg-text" cols="33" rows="4" placeholder="Enter Message Here " wrap="physical"></textarea>
                <button id="send">Send</button>
            </div>
        </div>
    </div>
</div>
<audio id="audio1" src="/sounds/Messagenotification.m4r"></audio>
</body>


<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>

  var socket = io();
  socket.on('connect',()=>{
    console.log("socket id "+socket.id);
  })

  var form = document.getElementById("form");
  var input = document.getElementById("input");

socket.on('recieve message',async (msg)=>{
  console.log("i recived message with ",msg);
  sou1();
})
  
  socket.on('recieve order',async (msg)=>{
    displayalert("You have recieved a new order");
    console.log("recieve",msg);
  sou();

  })
  socket.on("require signin",()=>{
    location.href='/employees/signin';
  })
  socket.on("newcustomer",async (msg)=>{
  
    sou1();
console.log("the recieved one is ",msg.from);
    let node=document.createElement("li");
    node.addEventListener('click',()=>{
        location.href=`/employees/profile/chat/details/${msg.customer._id}`;
    })
let node1=document.createElement("img");
node1.src="/images/user-chat.png";
node1.id="user-chat";
let node2=document.createElement("span");
node2.id="Name";
let node3=document.createElement("strong");
let tex=msg.customer.Firstname+" "+msg.customer.Middlename;
node3.innerHTML=`${tex}`;
let node4 =document.createElement("p");
node4.id="phone";
let node5 =document.createElement("strong");
node4.innerHTML=msg.customer.Phone;
node2.appendChild(node3);
node4.appendChild(node5);
node.appendChild(node1);
node.appendChild(node2);
node.appendChild(node4);
let par=document.getElementById("chat-list");
par.appendChild(node);
  })
  socket.on("getmessage",async (msg)=>{
const tx1=document.getElementsByClassName("ss")[0].innerHTML;
const tx2=document.getElementsByClassName("ss")[1].innerHTML;
if(msg.from.name===tx1&&msg.from.phone===tx2){
    console.log("msg from ",msg.from);
    let node=document.createElement("div");
    node.id="msg1";
    let node1=document.createElement("p");
    node.innerHTML=msg.body;
    node.appendChild(node1);
    document.getElementById("message-body").appendChild(node);
}
sou1();
  })

  
  async function sou(){

    let audio = document.getElementById("audio");
audio.play().catch((err)=>{
    console.log(err);
})

  }
  async function sou1(){

let audio = document.getElementById("audio1");
audio.play().catch((err)=>{
console.log(err);
})

}

  
</script>
</html>