
<html>


    <title>Restaurant</title>
    <link rel="shortcut icon" href="/images/barbecue.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/Css/admin-dashboard-menu.css">
   


<body>
    <main>
    <%- include("partials/admin_sidebar") %>
        <div class="right">




            <div class="container">
                <%- include("partials/alert") %>
                    <div class="title">
                        <h2>Aussie Menu</h2>
                        <p>
                            Healthy and natural food
                        </p>
                    </div>
                   
                    <div class="content">
                        <div class="list">
                         
                            <% if (sections.length> 0) { %>
                                <div style="display: flex; overflow: auto; max-width: 500px;">
                                <% sections.forEach((sec)=> { %>
                          
                                <li onclick="location.href='/employees/profile/menu/<%=sec.name%>'" > <%= sec.name %></li>
                               
                                <% });} %>
                            </div>

                            <li><a class="sign" href="#" onclick="togglePopup4()">Add Section</a></li>
                            <li><a class="sign" href="#" onclick="togglePopup()">Delete Section</a></li>

                            <li><a class="sign" href="#" onclick="togglePopup3()">Add Meal</a></li>

                        </div>
                        <% if (items.length> 0) { %>

                        <div class="box_flex">
                            <% items.forEach((pr)=> { %>

                            <div class="box All featured">
                                <div class="box_img">
                                 <img src="<%=pr.path%>" alt="">
                                </div>
                                <div class="text">
                                    <h3><%= pr.name %></h3>
                                    <hr>
                                    <section><%= pr.price %></section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article><%= pr.description %></article>
                                    <h5><%= pr.section%></h5>
                                    <li onclick=togglePopup2("<%=pr._id%>")><span  class="sign2" >Edit item</span></li>
                                    <li onclick="delitem(<%pr._id%>)"><a class="sign3" href="#">Delete item</a></li>
                                </div>
                            </div>
                            <% });} %>

                            <!-- <div class="box All featured">
                                <div class="box_img">
                                    <img src="photos/dish2.jpeg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Frozen food</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->
<!-- 
                            <div class="box All featured">
                                <div class="box_img">
                                    <img src="photos/dish2.jpeg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Frozen food</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->

                            <!-- <div class="box All featured">
                                <div class="box_img">
                                    <img src="images/image4.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Frozen food</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->

                            <!-- <div class="box All featured">
                                <div class="box_img">
                                    <img src="images/image5.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Frozen food</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->

                            <!-- <div class="box All featured">
                                <div class="box_img">
                                    <img src="images/image6.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Individual meals</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->
                            <!-- <div class="box All Special">
                                <div class="box_img">
                                    <img src="images/image7.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Individual meals</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->
                            <!-- <div class="box All Special">
                                <div class="box_img">
                                    <img src="images/image8.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Individual meals</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->
                            <!-- <div class="box All Special">
                                <div class="box_img">
                                    <img src="images/image9.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Individual meals</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->
                            <!-- <div class="box All Special">
                                <div class="box_img">
                                    <img src="images/image10.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Individual meals</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->

                            <!-- <div class="box All Special">
                                <div class="box_img">
                                    <img src="images/image11.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Individual meals</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->

                            <!-- <div class="box All Special">
                                <div class="box_img">
                                    <img src="images/image12.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Individual meals</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div> -->
                            <!-- </div>
                            <div class="box All Arrivals">
                                <div class="box_img">
                                    <img src="images/image13.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Ready to eat</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->

                            <!-- <div class="box All Arrivals">
                                <div class="box_img">
                                    <img src="images/image14.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Ready to eat</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->

                            <!-- <div class="box All Arrivals">
                                <div class="box_img">
                                    <img src="images/image15.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Ready to eat</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->
                            <!-- <div class="box All Arrivals">
                                <div class="box_img">
                                    <img src="images/image16.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Ready to eat</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->
                            <!-- <div class="box All Arrivals">
                                <div class="box_img">
                                    <img src="images/image17.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category:Ready to eat</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div> -->
                            <!-- </div> -->
                            <!-- <div class="box All Arrivals">
                                <div class="box_img">
                                    <img src="images/image18.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3>French fries</h3>
                                    <hr>
                                    <section>$28.00</section>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <article>Category: Ready to eat</article>
                                    <li><a onclick="togglePopup2()" class="sign2" href="#">Edit item</a></li>
                                    <li><a class="sign3" href="user_profile.html">Delete item</a></li>
                                </div>
                            </div> -->

                        </div>

                    </div>

            </div>



        </div>






        <!-- //for delete section button -->

        <div class="popup" id="popup-1">

            <div class="overlay"> </div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">
                    &times;
                </div>
                <h1>choose section</h1>
                <select class="selectt" Name="choose section" Size="Number_of_options">
                    <%sections.forEach((sec)=>{%>
                    <option> <%=sec.name%> </option>
                    <%});%>
                </select>


                <button type="submit" class="registerbtn">Delete</button>
            </div>

        </div>

        <script>
            //for delete section button


            function togglePopup() {
                // const togel=document.querySelector(".popup")
                document.getElementById("popup-1").classList.toggle("active");
            }
        </script>


        <script src="../public/js/menu.js"></script>







        <!-- //for edit item button -->
        <div class="popup" id="popup-2">

            <!-- <div class="overlay"> </div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup2()">
                    &times;
                </div>
                <h1>Edit Item</h1>
                <form action="">

                    <input type="text" id="name" placeholder="Change Item Name">
                    <input type="text" id="name" placeholder="Change Item Price">
                    <input type="text" id="name" placeholder="Change Item Description">
                    <input type="file" id="upload" name="path">
                    <label for="upload">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        change item photo
                    </label><br>



                    <button type="submit" class="registerbtn">Change</button>
                </form>
            </div> -->

        </div>

        </div>




        <!-- //for add meal button -->
        <div class="popup" id="popup-3">

            <div class="overlay"> </div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup3()">
                    &times;
                </div>
                <h1>Add Meal</h1>
                <form  action="/products/add/product" method="post">

                    <input type="text" id="name" name="name" placeholder="Enter Item Name">
                    <input type="text" id="name" name="price" placeholder="Enter Item Price">
                    <input type="text" id="name" name="description" placeholder="Enter Item Description">

                    <select class="selecttt" Name="choose section" name="section" Size="Number_of_options">
                        <option> ind meals </option>
                        <option> healthy food </option>
                        <option> ind meals </option>
                        <option> healthy food </option>
                    </select>
                    <input type="file" id="upload" name="path">
                    <label for="upload">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        Enter item photo
                    </label><br>



                    <button type="submit" class="registerbtn">Add Meal</button>
                </form>
            </div>

        </div>

        </div>





<script>
    //for add meal button
    function togglePopup3() {
        // const togel=document.querySelector(".popup")
        document.getElementById("popup-3").classList.toggle("active");
    }
</script>


























          <!-- //for add section button -->
     <div class="popup" id="popup-4">


        <div class="overlay"> </div>
        <div class="content">
            <div class="close-btn" onclick="togglePopup4()">
                &times;
            </div>
            <h1>Add Section</h1>
            <form  action="/products/add/sectionn" method="post">

                <input type="text" id="name" class="seccc" name="name" placeholder="Enter Section Name">
                



                <button type="submit" class="registerbtn">Add Section</button>
            </form>
        </div>

    </div>

    </div>





<script>
//for add meal button
function togglePopup4() {
    // const togel=document.querySelector(".popup")
    document.getElementById("popup-4").classList.toggle("active");
}
</script>



</main>
</body>

<script>

async function togglePopup2_(){
    document.getElementById("popup-2").classList.toggle("active");
}
    //for edit item button
    async function togglePopup2(id) {
        // const togel=document.querySelector(".popup")
        document.getElementById("popup-2").classList.toggle("active");
        let item ;
await fetch (`/products/employee/edit/item/menu/edit/${id}`,{method:'GET'}).then((o)=>{
    return o.json();
}).then((b)=>{
    console.log(b);
    const f=`   <div class="overlay"> </div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup2_()">
                    &times;
                </div>
                <h1>Edit Item</h1>
                <form action="/products/edit/a/a/a/b/c/d/f" method='post' enctype="multipart/form-data">
                    <input type="hidden" id="name" name ="idd"  value="${b._id}">
                    <input type="text" id="name" name ="itemname" placeholder="Change Item Name" value="${b.name}">
                    <input type="text" id="name" name="itemprice" placeholder="Change Item Price" value=${b.price}>
                    <input type="text" id="name" name ="itemdes" placeholder="Change Item Description" value="${b.description}">
                    <input type="file" id="upload" name="paths" value ="${b.path}">
                    <label for="upload">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        change item photo
                    </label><br>



                    <button type="submit" class="registerbtn">Change</button>
                </form>
            </div>`
            document.getElementById("popup-2").innerHTML=f;
})
    }
</script>

</html>
<!-- formated -->
