


<html>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/dashboard-orders.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>

<body>
  <main>
   <%- include("partials/admin_sidebar") %>

      <!-- orders -->
      <div class="right" style="padding-right: 50%;">
        <%- include("partials/alert") %>
      <div class="details" style="width: 100%;" >
        <div class="recentOrders"  id="ordd" style="width: 980px; height: 500px; top: -30px; left: 5px;">
            <div class="cardHeader">
                <h2>Recent Orders</h2>
                <div class="formbox">
                  <input type="text" class="searchid" placeholder="Enter order ID">
                  <input type="text" class="searchnum" placeholder="Enter order name">
                  <button class="search-btn" type="button">Search</button>

              </div>
                <a href="#" class="btnv">View All</a>
            
            </div>

            <table id="mytable">
               <thead>
                   <tr>
                       <td>
                            Name 
                       </td>
                       <td>
                           Phone
                       </td> <td>
                           NO.
                       </td> <td>
                         Status
                       </td>
                       <td>Action</td>
                       <td>Accept</td>
                   </tr>
               </thead>

               <tbody>
                  <% orders.forEach((item)=>{ %>
                   <tr>
                       <td>
                         <%=item.customername%>
                       </td>
                       <td>
                        <%=item.customerphone%>
                       </td> <td>
                        <%=item.num%>
                       </td>
                       
                     
                       <td>
                        <span id='<%=item.status%>' class="sst"><%=item.status%></span>
                        <input type="hidden" class="vv" value=<%=item._id%>>
                       </td>
                       <td><button class="moree" onclick="togglePopup(`<%=item.id%>`)">Show More</button></td>
                       <%if(item.status==="Pending"){%>
                       <td class="td1"><i class="fa-sharp fa-solid fa-circle-check"  id="iconn" onclick="confirmord(`<%=item._id%>`)" ></i></td>
                       <td><i class="fa-solid fa-circle-xmark" id="iconn" onclick="decord(`<%=item._id%>`)"  class="td2"></i></td>
                       <%}%>
                   </tr>
                 <%})%>
             

            

                
               
                 

                

               </tbody>
           </table>
        </div>
      
        </div>



        <div class="popup" id="popup-1">
      
         <div class="overlay" > </div>
            <div class="content" style="height: 500px;">
               <div class="close-btn" onclick="togglePopup(`hello`)">
                  &times;
               </div>
               <h1>Details</h1>
               <table >
                  <thead>
                      <tr>
                          <td>
                             Item Name
                          </td>
                          <td>
                              Price
                          </td> <td>
                              Qty
                          </td> 
                        
                      </tr>
                  </thead>
      
                  <tbody id="tabledeatails">
               <tr>
                <!-- <td colspan="2">Total price : </td>
                <td>${sum}</td>
               </tr>
               <tr>
                <td colspan="2">Discount : </td>
                <td>${obj.discount}</td>
               </tr>
               <tr>
                <td>Shipping Address : </td>
                <td colspan="2">`${obj}.Address.location  ${obj}.Address.Adress ${obj}.Address.apartment ${obj}.Address.floor ${obj}.Address.Building `</td>
               </tr> -->
            </div>
        
         </div>
         </div>


         
    <!-- orders -->
    <audio id="audio" src="/sounds/sound.m4r"></audio>
  </main>
</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
   var socket = io();
     socket.on('connect',()=>{
      
       console.log("socket id "+socket.id);
     })
   
     var form = document.getElementById("form");
     var input = document.getElementById("input");
   
     function a() {
    
       if (input.value) {
         socket.emit('chat message', input.value);
         console.log("sent")
         input.value = '';
       }
     }
     
     socket.on('recieve order',async (msg)=>{
      console.log(msg.customername);
      let table = document.getElementById("mytable");
  let row = table.insertRow(1);

const f=` <td>
  ${msg.customername}
                       </td>
                       <td>
                        ${msg.customerphone}
                       </td> <td>
                        ${msg.num}
                       </td>
                       
                     
                       <td>
                        <span id='${msg.status}' class="sst">${msg.status}</span>
                        <input type="hidden" class="vv" value=${msg._id}>
                       </td>
                       <td><button class="moree" onclick="togglePopup(${msg._id})">Show More</button></td>
                       
                       <td ><i class="fa-sharp fa-solid fa-circle-check" id="iconn" onclick="confirmord(${msg._id})" class="td1"></i></td>
                       <td ><i class="fa-solid fa-circle-xmark" id="iconn" onclick="decord(${msg._id})" class="td2"></i></td>
                       `

row.innerHTML=f;







//   let td1 = row.insertCell(0);
//   let td2 = row.insertCell(1);
//   let td3 = row.insertCell(2);
//   let td4 = row.insertCell(3);
//   let td5 = row.insertCell(4);
//   let td6 = row.insertCell(5);
//   let td7 = row.insertCell(6);
//   let sp=document.createElement("span");
//   sp.id="pending";
//   sp.className=("sst");
//   sp.innerHTML=msg.status;

//   let g1=document.createElement("span");
//   g1.innerHTML=msg.customername;
// td1.appendChild(g1);
  
//   let g=document.createElement("span");
//   g.innerHTML=msg.customerphone;
// td2.appendChild(g);

// let g3=document.createElement("span");
//   g3.innerHTML=msg.num;
// td3.appendChild(g3);
  
// let f=document.createElement("input");
// f.type="hidden";
// f.className="vv";
// f.value=`${msg._id}`;
//   td4.appendChild(sp);
//   let btn =document.createElement("button");
//   btn.className="moree";
//   btn.innerHTML="Show More";
  
  
//   td5.appendChild(btn);
//   let i1=document.createElement("i");
//   i1.id="iconn";
// i1.className="fa-sharp fa-solid fa-circle-check";
// td6.appendChild(i1);
// i1.addEventListener('click', ()=>{
//   confirmord(msg._id);
// })
// let i2=document.createElement("i");
//   i2.id="iconn";
// i2.className="fa-solid fa-circle-xmark";
// td7.appendChild(i2);
// i2.addEventListener('click',()=>{
// decord(msg._id);
// })
    
     
//      btn.addEventListener('click',()=>{
//  togglePopup(msg._id);
//      })
sou();
     })

     async function sou(){
   
       let audio = document.getElementById("audio");
   audio.play().catch((err)=>{
       console.log(err);
   })
     }
   
   
              async function togglePopup(id){


if(id!=="hello"){
  document.getElementById("tabledeatails").innerHTML="";
           await fetch(`/products/ordrers/get/details/admin/${id}`,{method:'Get'})
           .then(async(o)=>{
return o.json();
           }).then(async (obj)=>{
            let sum=0;
            let g=obj.items;
for(let i=0;i<g.length;i++){
  const str=`  <tr>
                          <td>
                             ${g[i].item_name}
                          </td>
                          <td>
                             ${g[i].price}
                          </td> <td>
                            ${g[i].Qty}
                          </td>
                          
                          <!-- <td><i class="fa-sharp fa-solid fa-circle-check" id="iconn"></i></td>
                          <td><i class="fa-solid fa-circle-xmark" id="iconn"></i></td> -->
                      </tr>`
                  
                      document.getElementById("tabledeatails").innerHTML+=str;
   
                      sum+=g[i].price*g[i].Qty;
}

if(obj.discount!=="none"){
sum-=((sum/100)*10)
sum=Math.round(sum);
}
const finals =`   <tr>
                <td colspan="2">Total price : </td>
                <td>${sum}</td>
               </tr>
             
               <tr>
                <td>Shipping Address : </td>
                <td colspan="2">${obj.Address}  </td>
               </tr> 
               <td> Voucher code : </td>
                <td colspan="2">${obj.discount}  </td>
               <tr>

                </tr>
               <tr>
                <td>comments : </td>
                <td colspan="2">${obj.notes}  </td>
               </tr> 
               `
               document.getElementById("tabledeatails").innerHTML+=finals;
                  
           })
          }
          document.getElementById("popup-1").classList.toggle("active");
               }
            
               async function confirmord(id){
 fetch(`/products/admin/confirm/order/send/mail/customer/${id}`,{method:'GET'}).then((o)=>{
const x=document.getElementsByClassName("vv");
console.log("x is ",x[0].value);
for(let i=0;i<x.length;i++){
  if(x[i].value===id){
    document.getElementsByClassName("sst")[i].innerHTML="Delivered";
    document.getElementsByClassName("sst")[i].id="Delivered";
    console.log(document.getElementsByClassName("td1")[i]);
    document.getElementsByClassName("td1")[i].style.display="none";
    document.getElementsByClassName("td2")[i].style.display="none";
  }
}
})
               }
               async function decord(id){
                 fetch(`/products/admin/cancel/order/send/mail/customer/ok/${id}`,{method:'GET'}).then(()=>{
                  const x=document.getElementsByClassName("vv");

for(let i=0;i<x.length;i++){
  if(x[i].value===id){
    const arr=x[i];
    console.log("the index is ",i);
    document.getElementsByClassName("sst")[i].innerHTML="Cancelled";
    document.getElementsByClassName("sst")[i].id="Cancelled";
    arr.removeChild(arr.children[0]);
    arr.removeChild(arr.children[0]);
   
    // document.getElementsByClassName("td1")[i].style.display="none";
    // document.getElementsByClassName("td2")[i].style.display="none";
  }
}
})
               }
            </script>
   
</html>