<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/dashboard-orders.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>
</head>
<body>
   <%- include("partials/admin_sidebar") %>
      <!-- orders -->
      <div class="details" style="width: 100%;" >
        <div class="recentOrders"  id="ordd" style="width: 1100px; height: 700px; top: -30px; left: 5px;">
            <div class="cardHeader">
                <h2>Recent Orders</h2>
                <div class="formbox">
                  <input type="text" class="searchid" placeholder="Enter order ID">
                  <input type="text" class="searchnum" placeholder="Enter order name">
                  <button class="search-btn" type="button">Search</button>

              </div>
                <a href="#" class="btnv">View All</a>
            
            </div>

            <table id="mytable">
               <thead>
                   <tr>
                       <td>
                            Name 
                       </td>
                       <td>
                           Phone
                       </td> <td>
                           NO.
                       </td> <td>
                         Status
                       </td>
                       <td>Action</td>
                       <td>Accept</td>
                   </tr>
               </thead>

               <tbody>
                  <%orders.forEach((item)=>{%>
                   <tr>
                       <td>
                         <%=item.customername%>
                       </td>
                       <td>
                        <%=item.customerphone%>
                       </td> <td>
                        <%=item.num%>
                       </td>
                       
                     
                       <td>
                        <span class="delivered">Delivered</span>
                       </td>
                       <td><button class="moree" onclick=togglePopup("<%=item.id%>") >Show More</button></td>
                       <td><i class="fa-sharp fa-solid fa-circle-check" id="iconn"></i></td>
                       <td><i class="fa-solid fa-circle-xmark" id="iconn"></i></td>
                   </tr>
                 <%})%>
             

            

                
               
                 

                

               </tbody>
           </table>
        </div>
      
        </div>



        <div class="popup" id="popup-1">
      
         <div class="overlay"> </div>
            <div class="content">
               <div class="close-btn" onclick="togglePopup(`hello`)">
                  &times;
               </div>
               <h1>Details</h1>
               <table >
                  <thead>
                      <tr>
                          <td>
                              Name
                          </td>
                          <td>
                              Price
                          </td> <td>
                              Qty
                          </td> 
                        
                         
                          <td>Accept</td>
                      </tr>
                  </thead>
      
                  <tbody>
                      <tr>
                          <td>
                             Pizza
                          </td>
                          <td>
                             120$
                          </td> <td>
                             4
                          </td>
                          
                          <td><i class="fa-sharp fa-solid fa-circle-check" id="iconn"></i></td>
                          <td><i class="fa-solid fa-circle-xmark" id="iconn"></i></td>
                      </tr>
            </div>
        
         </div>


         
    <!-- orders -->
    <audio id="audio" src="/sounds/sound.m4r"></audio>
</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
   var socket = io();
     socket.on('connect',()=>{
       console.log("socket id "+socket.id);
     })
   
     var form = document.getElementById("form");
     var input = document.getElementById("input");
   
     function a() {
    
       if (input.value) {
         socket.emit('chat message', input.value);
         console.log("sent")
         input.value = '';
       }
     }
     
     socket.on('recieve order',async (msg)=>{
      console.log(msg.customername);
      let table = document.getElementById("mytable");
  let row = table.insertRow(1);
  let td1 = row.insertCell(0);
  let td2 = row.insertCell(1);
  let td3 = row.insertCell(2);
  let td4 = row.insertCell(3);
  let td5 = row.insertCell(4);
  let td6 = row.insertCell(5);
  let td7 = row.insertCell(6);
  let sp=document.createElement("span");
  sp.className="delivered";
  sp.innerHTML=msg.status;

  let g1=document.createElement("span");
  g1.innerHTML=msg.customername;
td1.appendChild(g1);
  
  let g=document.createElement("span");
  g.innerHTML=msg.customerphone;
td2.appendChild(g);

let g3=document.createElement("span");
  g3.innerHTML=msg.num;
td3.appendChild(g3);
  

  td4.appendChild(sp);
  let btn =document.createElement("button");
  btn.className="moree";
  btn.innerHTML="Show More";
  
  
  td5.appendChild(btn);
  let i1=document.createElement("i");
  i1.id="iconn";
i1.className="fa-sharp fa-solid fa-circle-check";
td6.appendChild(i1);
let i2=document.createElement("i");
  i2.id="iconn";
i2.className="fa-solid fa-circle-xmark";
td7.appendChild(i2);
     sou();
     
     btn.addEventListener('click',(o)=>{
      console.log("the order is ",o);
                  // const togel=document.querySelector(".popup")
                  document.getElementById("popup-1").classList.toggle("active");
     })
     })

     async function sou(){
   
       let audio = document.getElementById("audio");
   audio.play().catch((err)=>{
       console.log(err);
   })
     }
   
   
               function togglePopup(o){
                  console.log("the order is ",o);
                  // const togel=document.querySelector(".popup")
                  document.getElementById("popup-1").classList.toggle("active");
               }
            </script>
   
</html>