<html>
<head>

	<html lang="en">
    <link rel="stylesheet" href="/Css/personalinfo.css">
</head>
<body>
    <%- include("./partials/nav-profileinfo") %>
    <div class="personalinf" >
		<div class="wrapper" >
			<div class="form">
			   <div class="inputfield">
				  <label>FirstName</label>
				  <p><%-customer.Firstname%></p>
			   </div>  
				<div class="inputfield">
				  <label>middlename</label>
				  <p><%-customer.Middlename%></p>
			   </div> 
			   <div class="inputfield">
				<label>LastName</label>
				<p><%-customer.Lastname%></p>
			   </div>
			   <div class="inputfield">
				<label>Email Address</label>
				<p><%-customer.Email%></p>
			 </div> 
			   <div class="inputfield">
				<label>Phone Number</label>
				<p><%-customer.Phone%></p>
			 </div> 
			   <div class="inputfield">
				  <label>new Password</label>
				  <input type="password" class="input"value="1234"id="inputt">
				  <input type="checkbox" onclick="myFunction()">Show Password
			   </div>  
			  <div class="inputfield">
				  <label>Confirm Password</label>
				  <input type="password" class="input"value="1234"id="inputt">
			   </div> 
			   <div class="inputfield">
				<input type="submit" value="Update" class="btn">
			  </div>

			</div>
		</div>	
	</div>

    </script>
</div>
<script>
    function myFunction() {
var x = document.getElementById("inputt");
if (x.type === "password") {
x.type = "text";
} else {
x.type = "password";
}
}
</script>
</body>
</html>