<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/recent-customers.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>
</head>
<body>
  

 

  <%- include("partials/admin_sidebar") %>
    <div class="right">

      <%- include("partials/alert") %>
    
      <div class="details" style="width: 100%;" >
        <div class="recentOrders"  id="ordd" style="width: 980px; height: 500px; top: -30px; left: 5px;" >
            <div class="cardHeader">
                <h2>Customers</h2>
                <div class="formbox">
                  <input type="text" class="searchid" placeholder="Enter customer email">
                  <input type="text" class="searchnum" placeholder="Enter customer name">
                  <button class="search-btn" type="button">Search</button>

              </div>
               
            
            </div>

            <table >
              <% if (custt.length> 0) { %>
                <thead>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                           email
                        </td> <td>
                          phone
                        </td> 
                        <td>Action</td>
                      
                    </tr>
                </thead>
                <% custt.forEach((emp)=> { %>

                <tbody>
                    <tr>
                        <td>
                          <%= emp.Firstname %>
                        </td>
                        <td>
                          <%= emp.Email %>
                        </td> <td>
                          <%= emp.Phone %>
                        </td>
                        
                      
                      
                        <td><button   class="moree"onclick="togglePopup()">Show </button></td>
                       
                    </tr>
                    <% });} %>
                   

                </tbody>
            </table>
        </div>
      
        </div>


    <div class="popup" id="popup-1">
      
   <div class="overlay"> </div>
      <div class="content">
         <div class="close-btn" onclick="togglePopup()">
            &times;
         </div>
         <h1>Orders</h1>
         <table >
            <thead>
                <tr>
                    <td>
                       Order ID
                    </td>
                    <br>
                    <td>
                       Order Date
                    </td> <br><td>
                       total price
                    </td> <br>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                       Pizza
                    </td>
                    <td>
                      27-5-2012
                    </td> <td>
                      120$
                    </td>
                </tr>
      </div>
  
   </div>

</div>
   <script>
      function togglePopup(){
         // const togel=document.querySelector(".popup")
         document.getElementById("popup-1").classList.toggle("active");
      }
   </script>

</body>
</html>